<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' type='text/css' href='header.scss' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'/>
    <script src=https://code.jquery.com/jquery-3.6.1.min.js integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="header.js" ></script>
  </head>
<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src=https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<div class="c">
  <h1 class="h">MARRIOTT BONVOY</h1>
  <div class="n">
</div>
<div class="b">
    <span class="fas fa-bars"></span>
  </div>
  <nav class="s">
    <ul>
      <li><a href="#">Deals and Packages</a></li>
      <li><a href="#">Meetings and Events</a></li>
      <li><a href="#">About Marriot Bonvoy</a></li>
    </ul>
 </nav>
 </div>
<section >
  <div class="row backcolor" >
        <div class="col-4 "><img class="img-thumbnail" src="./images/images/logo.png "  width="150px" height="50px"alt="" /></div>
      <div class="col-4" ><h2  class="glow" style="color:rgb(0, 0, 0);"> &ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Marriot Marquis</h2></div>

      <div class="col-4 pt-2 ">
        <ul class="nav justify-content-end ">
            <li class="nav-item">

               <a class="nav-link" href=https://maps.google.co.in><svg xmlns=http://www.w3.org/2000/svg width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg><link>View Map</link> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=https://maps.google.co.in><svg xmlns=http://www.w3.org/2000/svg width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
</svg><link>Call ME</link> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><button class="btn btn-danger">Book Your Next Stay</button></a>
            </li>
      </div>
      <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#down">Services & Amenities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#d1">Deals for You</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#d2">Local Offers and Attarctions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#d3">Property Details</a>
  </li>
</ul>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div>
  <nav class="s">
     <div class="t">Marriott</div>
    <div class="t1">BONVOY</div>
    <ul>
      <li>
        <a href="#">Deals & packages</a>
      </li>
      <li>
        <a href="#">About Bonvoy</a>
      </li>
      <li>
        <a href="#">Find & Reserve</a>
      </li>
      <li>
        <a href="#">Our Brands</a>
      </li>
      <li><a href="#">Deals and Packages</a></li>
      <li><a href="#">Meetings and Events</a></li>
    </ul>
 </nav>
            </div>
            <img src="./images/images/h3.jpg"  height="450px"   class="d-block w-100" alt="...">

            <div class="carousel-caption d-none d-md-block">
              <h5>WELCOME</h5>
<h3>Your Stay Starts Here</h3>
<h4>Connect to The internet, browse our services and see all that you can do while enjoying your time with us</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./images/images/nov.jpg"  height="450px" class="d-block w-100" alt="...">
<div class="carousel-caption d-none d-md-block">
              <h5>WELCOME</h5>
<h3>Your Stay Starts Here</h3>
<h4>Connect to the internet, browse our services and see all that you can do while enjoying your time with us</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./images/images/h1.jpg"  height=" 450px" class="d-block w-100" alt="...">
<div class="carousel-caption d-none d-md-block">
              <h5>WELCOME</h5>
<h3>Your Stay Starts Here</h3>
<h4>Connect to the internet, browse our services and see all that you can do while enjoying your time with us</h4>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
      <br/>
      <br/>
<div class="container">
  <br>
  <div id="down">
      <h4 class="text-center">OUR SERVICES</h4>
      <br />
      <div class="row  g-4">
        <div class="col">
          <div class="card" style="width: 18rem">
            <div class=" text-center">
              <img
                src="./images/images/4.jpg"
                width="200px"
                height="200px"
                class="card-img-top"
                alt="img-center"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Browse, Tap, Eat</h5>
              <p>————————————</p>
              <p class="card-text">
                See what's available from our hotel restaurants.Browse our menus, and where available, place your
                order or schedule one for later.An augmented reality dining experience that all senses.
              </p>
              <a href="" class="btn btn-danger">Order Food & Beverage</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="text-center">
              <img
                src="./images/images/5.jpg"
                width="200px"
                height="200px"
                class="card-img-top"
                alt="img-center"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">The View Restaurant</h5>
               <p>————————————</p>
              <p class="card-text">
                An augmented reality dining experience that all senses.See what's available from our hotel restaurants.Browse our menus, and where available, place your
                order or schedule one for later.
              </p>
              <a href="" class="btn btn-danger">Make a Dining Reservation</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="col-sm-2">
            <div class="card" style="width: 18rem">
              <div class="text-center">
                <img
                  src="./images/images/6.jpg"
                  width="200px"
                  height="200px"
                  class="card-img-top"
                  alt="img-center"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Broadway Lounge</h5>
                 <p>————————————</p>
                <p class="card-text">
                   An augmented reality dining experience that all senses.See what's available from our hotel restaurants.Browse our menus, and where available, place your
                order or schedule one for later.
                </p>
                <a href="" class="btn btn-danger">Make a Dining Reservation</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <h1>Enhance your stay</h1>
    <h5>Discover all the deals that Marriott Bonvoy has to offer.</h5>
    <div id="d1">
    <h2>Recommended For You</h2>
    </div>
    <h6>Featured Offers</h6>
<div class="wrapper d-flex justify-content-center">
          <div class="card">
            <div class="img-container position-relative w-100 h-100">
              <img src="./images/images/a.jpg" />
              <img src="./images/images/e.jpg" />
            </div>
            <div class="box w-100 h-100 position-absolute d-flex align-items-center justify-content-center">
              <div class="inner-content d-flex flex-column align-content-center justify-content-center">
                <div class="h2 m-0 text-center">Marriot CreditCards</div>
                <div class="tag text-center">
                  Find card that's right for you in your region

                </div>
                <p class="px-3 mt-3 text-center">
                 Max your Rewards,Rewards with no annual fee,Step up to luxury,Take your Business Further
                </p>
              </div>
            </div>
          </div>
           <div class="card ">
            <div class="img-container position-relative w-100 h-100">
              <img src="./images/images/f.jpg"  />
              <img src="./images/images/b.png"  />
            </div>
            <div class="box w-100 h-100 position-absolute d-flex align-items-center justify-content-center">
              <div class="inner-content d-flex flex-column align-content-center justify-content-center">
                <div class="h2 m-0 text-center">Earn Fast with Uber</div>
                <div class="tag text-center">
                  Eat,ride,stay your way to vacay
                </div>
                <p class="px-3 mt-3 text-center">
                  Go from pickup tp paradise, Go from sea salt to sea breeze, Go from sushi to sunsets
                </p>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="img-container position-relative w-100 h-100">
              <img src="./images/images/old.jpg"  />
              <img src="./images/images/c.jpg"  />
            </div>
            <div class="box w-100 h-100 position-absolute d-flex align-items-center justify-content-center">
              <div class="inner-content d-flex flex-column align-content-center justify-content-center">
                <div class="h2 m-0 text-center">Earn upto 2,000pts with Hertz</div>
                <div class="tag text-center">
                  Start Your Engine
                </div>
                <p class="px-3 mt-3 text-center">
                  Rent the easy and fast way, Convenient Locations,Take adv of reserve now,pay later options.
                </p>
              </div>
              </div>
              </div>
        </div>
    <div class="nan">
      <center>
        <marquee behavior="alternate" direction="right">
        <img src="./images/images/z.gif" width="100px" heigth="300px" alt="" /><a
            href="3.html"
            class="btn btn-danger"
            id="loadMore"
            >HURRY UP...</a
          >
        </marquee>
      </center>
    </div>
    <br />
    <br />
<div id="d2">
    <div class="container">
       <h1>Our Reviews</h1>
      <div id="testimonial-slider" class="owl-carousel">
        <div class="row">
          <div class="col-6">
            <div class="testimonial">
              <div class="pic">
                <img src="./images/images/n.jpeg" width="300px"  height="50px"/>
              </div>
              <p class="description">
                Experience Marriott. Elevate Your
Stay With The Perfect Vacation. This new approach is centered on providing you with choices during your Stay. Food and travel is awesome. - thanks to marriot talented Housekeeping and techincal servives team Associates!
              </p>
              <h3 class="title">NANDINI POTTURI</h3>
              <span class="post">DELHI</span>
            </div>
          </div>
          <div class="col-6">
            <div class="testimonial">
              <div class="pic">
                <img src="./images/images/ni.jpeg" />
              </div>
              <p class="description">
               Cleanliness matters. It always has and always will. Our Guests tell us that there's nothing like the feeling of checking into or returning to a clean room. And for Marriott, cleanliness has always
                been a point of pride - thanks to marriot talented Housekeeping Associates!
              </p>
              <h3 class="title">RAVELLA NISHITHA</h3>
              <span class="post">HYDERABAD</span>
            </div>
          </div>
        </div>
      </div>
<div id="testimonial-slider" class="owl-carousel">
        <div class="row">
          <div class="col-6">
            <div class="testimonial">
              <div class="pic">
                <img src="./images/images/s.jpeg" width="300px"  height="50px"/>
              </div>
              <p class="description">
                Experience Marriott. Elevate Your
Stay With The Perfect Vacation. This new approach is centered on providing you with choices during your Stay. Food and travel is awesome. - thanks to marriot talented Housekeeping and techincal servives team Associates!
              </p>
              <h3 class="title">PRASHANTH SAMPATHI</h3>
              <span class="post">PONDICHERRY</span>
            </div>
          </div>
          <div class="col-6">
            <div class="testimonial">
              <div class="pic">
                <img src="./images/images/pr.jpeg" />
              </div>
              <p class="description">
               Cleanliness matters. It always has and always will. Our Guests tell us that there's nothing like the feeling of checking into or returning to a clean room. And for Marriott, cleanliness has always
                been a point of pride - thanks to marriot talented Housekeeping Associates!
              </p>
              <h3 class="title">PRIYANKA PADIYAR</h3>
              <span class="post">JHARKHAND</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
<div class="row cardcolor" >
        <section id="team" class="pb-5 ">
            <div class="container ">
                <div class="row cardbackground">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src=".\images\images\f1.jpg" alt="card image"></p>
                                            <h2 class="card-title">Family And Child Activities </h2>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <p class="card-text">The extracurricular activities for children are mostly arranged in the evenings by outside providers.Extracurricular activities arranged by the schools are very limited and vary between the schools.

It is normal for the parents to take children to the activities in the evenings and take part of the club activity when needed.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src=".\images\images\f2.jpg" alt="card image"></p>
                                          <h2 class="card-title">Fitness</h2>

                                          <p class="card-text"></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <p class="card-text">&ensp;<br>Improve self-confidence. On a very basic level, physical fitness can boost self-esteem and improve positive self-image. Regardless of weight, size, gender, or age, exercise can quickly elevate a person's perception of his or her attractiveness, that is, self-worth .</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src=".\images\images\f3.jpg" alt="card image"></p>
                                        <h4 class="card-title">Area Sightseeing</h4>

                                        <p class="card-text"></p>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">

                                        <p class="card-text">Here are the amazing benefits of Tourism: Tourism makes a Country improve in their standard of living to be called a World class country: Here are the amazing benefits of Tourism: Tourism makes a Country improve in their standard of living to be called a World class country:  </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div></div></section>
      </div>

</section>
<section>
  <div id="d3">
  <div class="row text-center">
      <h1>Explore Our Branches</h1>
      <br /><br>
      <div class="polaroid rotate_left">
        <img src=".\images\images\m1.jpg" alt="Pulpit rock" width="258" height="300" />
        <h4>Marriott Vacation Club</h4>
        <p class="caption">Delhi</p>
      </div>

      <div class="polaroid rotate_right">
        <img src=".\images\images\m2.jpg" alt="Monterosso al Mare" width="258" height="300" />
        <h4>Le MERIDIEN</h4>
        <p class="caption">Hyderabad</p>
      </div>

      <div class="polaroid rotate_left">
        <img src=".\images\images\m3.jpg" alt="Pulpit rock" width="258" height="300" />
        <h4>Residence Inn</h4>
        <p class="caption">Alaska</p>
      </div>

      <div class="polaroid rotate_right">
        <img src=".\images\images\m4.jpg" alt="Pulpit rock" width="258" height="300" />
        <h4>Courtyard by Marriott</h4>
        <p class="caption">Saudi Arbia</p>
      </div>
    </div>
    <br />
    <br />

    <div class="row">
      <div class="polaroid rotate_left">
        <img src=".\images\images\m5.jpg" alt="Monterosso al Mare" width="258" height="300" />
        <h4>Ritz-Carlton Reserve</h4>
        <p class="caption text-center">Vijayawada</p>
      </div>
      <div class="polaroid rotate_right">
        <img src=".\images\images\m1.jpg" alt="Monterosso al Mare" width="258" height="300" />
        <h4>The Luxury Collection</h4>
        <p class="caption text-center">Kerala</p>
      </div>
      <div class="polaroid rotate_left">
        <img src=".\images\images\m7.jpg" alt="Monterosso al Mare" width="258" height="300" />
        <h4>Fairfield Inn & Suites</h4>
        <p class="caption text-center">
          USA
        </p>
      </div>
      <div class="polaroid rotate_right">
        <img src=".\images\images\m8.jpg" alt="Monterosso al Mare" width="258" height="300" />
        <h4>Sheraton</h4>
        <p class="caption text-center">Canada</p>
      </div>
    </div>
</div>
</section>
