---
title: Index Page
type: page
layout: base
description: This works as Site Map for Static HTML Files
sortOrder: 0
---

<div class='container'>
  <h3>Site Map for Static HTML File</h3>
  <ol>
    <li><a href='./landing-page.html'>Landing Page</a></li>
  </ol>
</div>
